<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html>
<head>
  
</head>

<body>

<h2>自我介绍:</h2>

<p>本人姓汤，名丰源，江湖绰号汤圆，性温和，好交友，现就读河北工程大学，主攻计算机科学与技术。</p>

<h2>联系方式:</h2>

<ol>
<li>电话:<em>13230055839</em></li>
<li>QQ:<em>1315803594</em></li>
</ol>
<h2>听一首歌陶冶一下情操:</h2>
<p><embed src="http://www.xiami.com/widget/0_1769793244/singlePlayer.swf" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"></embed></p>



  
</body>
</html>
<% if ( page.comments){ %>
<section class="comment">

<!-- Duoshuo Comment BEGIN -->
     <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"chaoyue"};
     (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = 'http://static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
          || document.getElementsByTagName('body')[0]).appendChild(ds);
     })();
     </script>
<!-- Duoshuo Comment END -->

</section>
<% } %>